home-assistant.*
ip_bans.yaml
known_devices.yaml
#secrets.yaml
#secrets.env
#ha.env
#config.json
#homebridge.env
#passwd
#mosquitto.conf
icloud/
tts/


__pycache__/
#*.conf
#*.env
*.log
*.db
*.bak
*.old
*.pyc

appdaemon.log.*

.uuid
.HA_VERSION

home-assistant/deps/*


appdaemon/logs/*
!appdaemon/logs/.gitkeep
appdaemon/compiled/css/*
!appdaemon/compiled/css/.gitkeep
appdaemon/compiled/html/*
!appdaemon/compiled/html/.gitkeep
appdaemon/compiled/javascript/*
!appdaemon/compiled/javascript/.gitkeep
appdaemon/assets/css/*
!appdaemon/assets/css/.gitkeep
appdaemon/assets/js/*
!appdaemon/assets/js/.gitkeep

mysql/data/*
!mysql/data/.gitkeep
!mysql/secrets.env.template


/homebridge/persist/*
/homebridge/accessories/*
/homebridge/plugins/*

mosquitto/cert/*
!mosquitto/cert/.gitkeep
mosquitto/data/*
!mosquitto/data/.gitkeep
mosquitto/log/*
!mosquitto/log/.gitkeep

#
# macOS
#
# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk


#
# Linux
#
*~

# temporary files which can be created if a process still has a handle open of a deleted file
.fuse_hidden*

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*

# .nfs files are created when an open file is removed but is still being accessed
.nfs*

#
# Windows
#
# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# Dump file
*.stackdump

# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

